<p>
  <strong>Descripción:</strong>
  <%= @tipo_contratacion.descripcion %>
</p>

<%= link_to 'Modificar', edit_tipo_contratacion_path(@tipo_contratacion) %> |
<%= link_to 'Volver', tipo_contrataciones_path %>
