<h1>Listado de Agentes</h1>

<div class="row">
  <div class="col-md-3">      
      <h3> Buscar por nombre </h3>   
      <div class="field">
           <%= label_tag :nombre%><br>  
        </div>   

        <div class="field">
          <%= autocomplete_field_tag 'agente_nombre', '', autocomplete_agente_nombre_agentes_path , :size => 75 %>
      </div>    
    </div>  
 </div>

 <%= render 'form_table_agentes' %>

<br>
<a href="/" role="button" class="btn btn-lg btn-default">Inicio</a>

