<h1>
  <strong>Editar Datos Laborales de:</strong>
  <%= @dato_laboral.agente.nombre %> &nbsp
  <%= @dato_laboral.agente.apellido %>
</h1>

<%= render 'form' %>

<div class="container">
	<div class="row">
			<%= link_to 'Volver',   agente_path(@agente) %>
	</div>
</div>
