<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @situacion_revistum.descripcion %>
</p>

<%= link_to 'Edit', edit_situacion_revistum_path(@situacion_revistum) %> |
<%= link_to 'Back', situacion_revista_path %>
