<nav class="navbar navbar-fixed-top">
  <div class='navbar-inner'>
<ul class="nav nav-tabs" role="tablist">

    <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Reportes <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Por tipo de Consumo</a></li>
      <li><a href="#">Por stock mínimo</a></li>
      <li><a href="#">Por transferencias realizadas</a></li>
      <li><a href="#">Por stock total en pesos</a></li>
      <li><a href="#">Logs de auditoría</a></li>
    </ul>
  </li>

    <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Datos Fijos <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Catálogo</a></li>
      <li><a href="#">Depósitos</a></li>
      <li><a href="#">Documentos</a></li>
    </ul>
  </li>

</ul>
</div>
</nav>